<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Iniciar Sesión - EduAuth</title>
  <link rel="stylesheet" href="static/css/style.css" />
</head>
<body>
  <h1>Iniciar Sesión</h1>
  <div id="alert" class="alert"></div>

  <form id="form-login">
    <input name="email" placeholder="Email" required>
    <input name="password" type="password" placeholder="Contraseña" required>
    <button>Login</button>
  </form>

  <p><a href="register.html">¿No tienes cuenta? Regístrate</a></p>
  <p><a href="recovery.html">¿Olvidaste tu contraseña?</a></p>

  <script src="js/utils.js"></script>
  <script src="js/login.js"></script>
</body>
</html>
